<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<form id="myform" action="http://127.0.0.1:1111/deal_log" method="POST" enctype="multipart/form-data">
    <em>usecols</em><input type="text" name="usecols"/>
    <p></p>
    <em>columns</em><input type="text" name="columns"/>
    <p></p>
    <em>drop_key</em><input type="text" name="drop_key"/>
    <p></p>
    <em>sep</em><input type="text" name="sep"/>
    <p></p>
    <input type="file" name="file">
    <input type="submit" onclick="checkForm();" value="登录">
</form>

</body>
</html>