<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<form id="myform" action="http://127.0.0.1:1111/deal_log" method="POST" enctype="multipart/form-data">
    使用列数编号：<input type="text" name="usecols"/>
    <p></p>
    对应列数列明：<input type="text" name="columns"/>
    <p></p>
    要去重的列名：<input type="text" name="drop_key"/>
    <p></p>
    文件分隔符号：<input type="text" name="sep"/>
    <p></p>
    <input type="file" name="file">
    <input type="submit" onclick="checkForm();" value="登录">
</form>
</body>
</html>